.popup__item-normal {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  margin-top: 5px;
  min-height: 30px;
  min-width: 358px;
  display: block;
}

@media screen and (max-width: 620px) {
  .popup__item-normal {
    min-width: 238px;
  }
}