.footer {
  padding-top: 67px;
  padding-bottom: 60px;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 920px) {
  .footer {
    max-width: 585px;
  }
}

@media screen and (max-width: 620px) {
  .footer {
    max-width: 282px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}