.header__login {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: right;
  color: #A9A9A9;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .header__login {
    font-size: 14px;
    line-height: 0.8;
    color: #FFFFFF;
    margin-right: 30px;
  }
}